/* This is the global css which will have the common styling properties */

/* Basic css properties */
* {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=PT+Mono&display=swap');*/
/*Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --background: rgba(0, 214, 170, .5);
}

*, *::before, *::after {
    box-sizing: border-box;
}

.nav-bar img {
    width: 50%;
    margin: -15% 40%;
}

.content {
    height: 200vh;
    display: grid;
    place-items: center;
    background-size: cover;
    background-blend-mode: multiply;
}

/* Navigation Styles */
header {
    background-color: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    min-height: 100px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background-color: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    font-size: 14px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #000;
}


.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background-color: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}
/* Dropdown */
nav ul li ul {
    opacity: 0;
    display: none;
}

nav ul li:hover ul {
    width: 100%;
    /*top:5%;*/
    display: block;
    opacity: 1;
}

/* Navigation media query */
@media screen and (min-width: 953px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid !important;
        grid-template-columns: 1fr auto 1fr;
        /*grid-template-columns: 1fr 50px 1fr 1fr;*/
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .logo {
        /*grid-column: 2 / 3;*/
    }

    nav {
        all: unset;
        /*grid-column: 3 / 4;*/
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        font-size: 14px;
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 2px;
        background: black;
        position: absolute;
        bottom: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: left;
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }

    /*    Dropdown Menus */
    nav ul li {
        display: flex;
    }

    nav ul li ul {
        position: absolute;
        background-color: var(--background);
        top: 100%;
        left: 21%;
        display: block;
        transition: .5s;
        opacity: 0;
        visibility: hidden;
    }

    nav ul li:hover ul {
        opacity: 1;
        visibility: visible;
    }

    nav ul li ul:hover {
        color: black;
    }

    nav ul li ul a::before {
        all: unset;
    }

    nav ul li ul li {
        padding: 2% 0%;
    }


}

@media (max-width: 953px) {
    nav ul li ul{
        width: 100%;
        z-index: 1;
    }
}